@page "/"

<PageTitle>Home</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Welcome to the IAsyncEnumerable Demos</MudText>
<MudText Class="mb-4">Explore practical examples of using IAsyncEnumerable for efficient data processing and real-time applications in .NET.</MudText>

<MudAlert Severity="Severity.Normal" Class="mb-4">
    This repository contains demos and sample code from the episode "<MudText Typo="Typo.inherit" Color="Color.Primary"><b>Supercharging .NET with IAsyncEnumerables</b></MudText>".
    Feel free to explore, clone, and modify the code as you like!
</MudAlert>

<MudText Typo="Typo.h6" GutterBottom="true">Topics Covered:</MudText>
<ul>
    <li><MudText Typo="Typo.body2">Fetching and streaming large datasets from a database.</MudText></li>
    <li><MudText Typo="Typo.body2">Streaming JSON with minimal memory footprint.</MudText></li>
    <li><MudText Typo="Typo.body2">Real-time event handling using asynchronous streams.</MudText></li>
</ul>
